body {
  color: black;
  font-weight: 400;
  font-family: 'Roboto';
  font-size: 22px;
  margin: 0;
  background-color: #f5f5f5;
  --color-primary: #0095E7;
  --color-primary-dark: #0095E7;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: #4bb544;
}