/* Styles généraux */
#tabdmd {
    font-size: 24px;
    font-weight: bold;
}

.Dashboard_presta-container {
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Styles du tableau */
.Dashboard_presta-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.Dashboard_presta-table th,
.Dashboard_presta-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.Dashboard_presta-table th {
    background-color: #f2f2f2;
}

/* Styles des boutons */
.Dashboard_presta-accepter-button {
    width: 100%;
    max-width: 10rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    background-color: #4bb544;
    margin: 2px;
    padding: 8px;
}

.Dashboard_presta-refuser-button {
    max-width: 10rem;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    background-color: #cc3333;
    margin: 2px;
    padding: 8px;
}

/* Styles du statut */
.Dashboard_presta-status {
    font-weight: bold;
}

/* Styles responsives */
@media screen and (max-width: 768px) {

    .Dashboard_presta-table th,
    .Dashboard_presta-table td {
        padding: 8px;
        font-size: 14px;
    }

    .Dashboard_presta-accepter-button,
    .Dashboard_presta-refuser-button {
        padding: 6px 10px;
        font-size: 12px;
    }
}