/* Styles généraux */
.profil-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
}

.profil-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.profil-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.profil-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profil-info h2 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #333;
}

.profil-info p {
    color: #888;
    margin-bottom: 0;
}

.profil-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.chat-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0095E7;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.chat-icon img {
    width: 60%;
    height: auto;
}

.chat-icon:hover {
    background-color: #252c6a;
}

.edit-button,
.delete-button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    background-color: #0095E7;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #252c6a;
}

/* Styles responsives */
@media screen and (max-width: 768px) {
    .profil-details {
        margin-bottom: 20px;
    }

    .profil-picture {
        width: 120px;
        height: 120px;
    }

    .profil-info h2 {
        font-size: 20px;
    }

    .chat-icon {
        width: 30px;
        height: 30px;
    }

    .chat-icon img {
        width: 50%;
    }

    .edit-button,
    .delete-button {
        padding: 10px 16px;
        font-size: 14px;
        margin: 5px;
    }
}

@media screen and (max-width: 480px) {
    .profil-details {
        margin-bottom: 10px;
    }

    .profil-picture {
        width: 100px;
        height: 100px;
    }

    .profil-info h2 {
        font-size: 18px;
    }

    .chat-icon {
        width: 25px;
        height: 25px;
    }

    .chat-icon img {
        width: 40%;
    }

    .edit-button,
    .delete-button {
        padding: 8px 14px;
        font-size: 12px;
        margin: 3px;
    }
}